article.type-bip .entry-title > span.bip-title-container,
article.type-bip .entry-title > a {
  background-image: url( '../assets/bip-logos/bip-simple-color_500px.png' );
  background-size: 40px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 45px;
}

.bip-footer {
  border: 1px solid currentColor;
  padding: 1em;
  column-count: 2;
}

.bip-footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.bip-main-logo {
  float: right;
}

.bip-search {
  margin: 1em 0;
}

.bip-search form label {
  width: 80%;
  float: left;
  margin-right: 0.5em;
}

.bip-address {
  margin: 1em 0;
  font-style: normal;
}

.bip-address p {
  margin: 0;
}

/** widget styles **/
.widget_bip-logo a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.widget_bip-logo a:hover {
  text-decoration: none;
}

.widget_bip-logo a img {
  width: 80%;
}
